In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

df=pd.read_csv("IBRD_ loan_dataset_copy.csv")
df.head()

,End of Period,Loan Number,Region,Country Code,Country,Borrower,Guarantor Country Code,Guarantor,Loan Type,Loan Status,...,Repaid 3rd Party,Due 3rd Party,Loans Held,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date
0,2018-09-30T00:00:00,IBRD00010,EUROPE AND CENTRAL ASIA,FR,France,CREDIT NATIONAL,FR,France,NON POOL,Fully Repaid,...,2.499620e+08,0,0.0,1952-11-01T00:00:00,1977-05-01T00:00:00,1947-05-09T00:00:00,1947-05-09T00:00:00,1947-06-09T00:00:00,1947-12-31T00:00:00,NaN
1,2018-09-30T00:00:00,IBRD00020,EUROPE AND CENTRAL ASIA,NL,Netherlands,NaN,NaN,NaN,NON POOL,Fully Repaid,...,8.767200e+07,0,0.0,1952-04-01T00:00:00,1972-10-01T00:00:00,1947-08-07T00:00:00,1947-08-07T00:00:00,1947-09-11T00:00:00,1948-03-31T00:00:00,NaN
2,2018-09-30T00:00:00,IBRD00021,EUROPE AND CENTRAL ASIA,NL,Netherlands,NaN,NaN,NaN,NON POOL,Fully Repaid,...,3.955788e+06,0,0.0,1953-04-01T00:00:00,1954-04-01T00:00:00,1948-05-25T00:00:00,1947-08-07T00:00:00,1948-06-01T00:00:00,1948-06-30T00:00:00,NaN
3,2018-09-30T00:00:00,IBRD00030,EUROPE AND CENTRAL ASIA,DK,Denmark,NaN,NaN,NaN,NON POOL,Fully Repaid,...,2.222900e+07,0,0.0,1953-02-01T00:00:00,1972-08-01T00:00:00,1947-08-22T00:00:00,1947-08-22T00:00:00,1947-10-17T00:00:00,1949-03-31T00:00:00,NaN
4,2018-09-30T00:00:00,IBRD00040,EUROPE AND CENTRAL ASIA,LU,Luxembourg,NaN,NaN,NaN,NON POOL,Fully Repaid,...,1.014200e+07,0,0.0,1949-07-15T00:00:00,1972-07-15T00:00:00,1947-08-28T00:00:00,1947-08-28T00:00:00,1947-10-24T00:00:00,1949-03-31T00:00:00,NaN

In [2]:
#drop unnecessary columns

to_drop=['Currency of Commitment','Due 3rd Party','Loans Held','Agreement Signing Date','Board Approval Date','Effective Date (Most Recent)','Closed Date (Most Recent)','Last Disbursement Date','Undisbursed Amount','Disbursed Amount','Country Code','Guarantor Country Code','Exchange Adjustment','Borrower\'s Obligation','Due to IBRD','Repaid 3rd Party','Sold 3rd Party']
df.drop(to_drop, inplace=True, axis=1)

In [3]:
df

,End of Period,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Project ID,Project Name,Original Principal Amount,Cancelled Amount,Repaid to IBRD,First Repayment Date,Last Repayment Date
0,2018-09-30T00:00:00,IBRD00010,EUROPE AND CENTRAL ASIA,France,CREDIT NATIONAL,France,NON POOL,Fully Repaid,4.25,P037383,RECONSTRUCTION,2.500000e+08,0.00,3.800000e+04,1952-11-01T00:00:00,1977-05-01T00:00:00
1,2018-09-30T00:00:00,IBRD00020,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,4.25,P037452,RECONSTRUCTION,1.910442e+08,0.00,1.033722e+08,1952-04-01T00:00:00,1972-10-01T00:00:00
2,2018-09-30T00:00:00,IBRD00021,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,4.25,P037452,RECONSTRUCTION,3.955788e+06,0.00,0.000000e+00,1953-04-01T00:00:00,1954-04-01T00:00:00
3,2018-09-30T00:00:00,IBRD00030,EUROPE AND CENTRAL ASIA,Denmark,NaN,NaN,NON POOL,Fully Repaid,4.25,P037362,RECONSTRUCTION,4.000000e+07,0.00,1.777100e+07,1953-02-01T00:00:00,1972-08-01T00:00:00
4,2018-09-30T00:00:00,IBRD00040,EUROPE AND CENTRAL ASIA,Luxembourg,NaN,NaN,NON POOL,Fully Repaid,4.25,P037451,RECONSTRUCTION,1.200000e+07,238016.98,1.619983e+06,1949-07-15T00:00:00,1972-07-15T00:00:00
5,2018-09-30T00:00:00,IBRD00050,LATIN AMERICA AND CARIBBEAN,Chile,Ministry of Finance,Chile,NON POOL,Fully Repaid,4.50,P006578,POWER,1.350000e+07,0.00,1.216700e+07,1953-07-01T00:00:00,1968-07-01T00:00:00
6,2018-09-30T00:00:00,IBRD00060,LATIN AMERICA AND CARIBBEAN,Chile,Ministry of Finance,Chile,NON POOL,Fully Repaid,3.75,P006577,FOMENTO AGRIC CREDIT,2.500000e+06,0.00,7.550000e+05,1950-07-01T00:00:00,1955-01-01T00:00:00
7,2018-09-30T00:00:00,IBRD00070,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,3.56,P037453,SHIPPING I,2.000000e+06,0.00,0.000000e+00,1949-01-15T00:00:00,1958-07-15T00:00:00
8,2018-09-30T00:00:00,IBRD00071,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,3.56,P037453,SHIPPING I,2.000000e+06,0.00,0.000000e+00,1949-01-15T00:00:00,1958-07-15T00:00:00
9,2018-09-30T00:00:00,IBRD00080,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,3.56,P037454,SHIPPING II,2.000000e+06,0.00,0.000000e+00,1949-01-15T00:00:00,1958-07-15T00:00:00
10,2018-09-30T00:00:00,IBRD00090,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,3.56,P037455,SHIPPING III,2.000000e+06,0.00,0.000000e+00,1949-01-15T00:00:00,1958-07-15T00:00:00
11,2018-09-30T00:00:00,IBRD00100,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,3.56,P037456,SHIPPING IV,2.000000e+06,0.00,0.000000e+00,1949-01-15T00:00:00,1958-07-15T00:00:00
12,2018-09-30T00:00:00,IBRD00101,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,3.56,P037456,SHIPPING IV,2.000000e+06,0.00,0.000000e+00,1949-01-15T00:00:00,1958-07-15T00:00:00
13,2018-09-30T00:00:00,IBRD00111,LATIN AMERICA AND CARIBBEAN,Brazil,Ministerio da Fazenda,Brazil,NON POOL,Fully Repaid,4.50,P006214,POWER AND TELEPHONE,7.500000e+07,0.00,7.097159e+07,1953-07-01T00:00:00,1974-01-01T00:00:00
14,2018-09-30T00:00:00,IBRD00112,LATIN AMERICA AND CARIBBEAN,Brazil,Ministerio da Fazenda,Brazil,NON POOL,Fully Repaid,4.25,P006214,POWER AND TELEPHONE,1.500000e+07,0.00,1.500000e+07,1955-07-01T00:00:00,1976-01-01T00:00:00
15,2018-09-30T00:00:00,IBRD00120,LATIN AMERICA AND CARIBBEAN,Mexico,Secretaria de Hacienda Y Credito Publico,Mexico,NON POOL,Fully Repaid,4.50,P007497,POWER I,2.410000e+07,0.00,2.013170e+07,1953-02-01T00:00:00,1973-08-01T00:00:00
16,2018-09-30T00:00:00,IBRD00130,LATIN AMERICA AND CARIBBEAN,Mexico,Secretaria de Hacienda Y Credito Publico,Mexico,NON POOL,Fully Cancelled,4.50,P007498,POWER II,1.000000e+07,10000000.00,0.000000e+00,1951-01-01T00:00:00,1951-01-01T00:00:00
17,2018-09-30T00:00:00,IBRD00140,EUROPE AND CENTRAL ASIA,Belgium,MINISTERE DES FINANCES,Belgium,NON POOL,Fully Repaid,4.25,P037358,INDUSTRY,1.600000e+07,0.00,0.000000e+00,1953-09-01T00:00:00,1969-03-01T00:00:00
18,2018-09-30T00:00:00,IBRD00150,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,4.00,P037457,INDUSTRIAL PROJECTS,1.500000e+07,7548015.28,1.025089e+06,1952-12-01T00:00:00,1964-06-01T00:00:00
19,2018-09-30T00:00:00,IBRD00160,EUROPE AND CENTRAL ASIA,Finland,NaN,NaN,NON POOL,Fully Repaid,4.00,P037366,INDUSTRY I,1.250000e+07,0.00,6.747990e+06,1953-02-01T00:00:00,1964-08-01T00:00:00
20,2018-09-30T00:00:00,IBRD00170,SOUTH ASIA,India,CONTROLLER OF AID ACCOUNTS & AUDIT,India,NON POOL,Fully Repaid,4.00,P009588,RAILWAY,3.400000e+07,1200000.00,1.505637e+07,1950-08-15T00:00:00,1964-08-15T00:00:00
21,2018-09-30T00:00:00,IBRD00180,LATIN AMERICA AND CARIBBEAN,Colombia,MINISTERIO DE HACIENDA Y CREDITO PUBLICO,Colombia,NON POOL,Fully Repaid,3.50,P006682,AGRICULTRE MACHINERY,5.000000e+06,74559.16,2.925441e+06,1952-05-15T00:00:00,1956-11-15T00:00:00
22,2018-09-30T00:00:00,IBRD00190,SOUTH ASIA,India,CONTROLLER OF AID ACCOUNTS & AUDIT,India,NON POOL,Fully Repaid,3.50,P009586,FARM IMPROVEMENT,1.000000e+07,2796186.73,2.263000e+06,1952-06-01T00:00:00,1956-12-01T00:00:00
23,2018-09-30T00:00:00,IBRD00200,EUROPE AND CENTRAL ASIA,"Yugoslavia, former",NaN,NaN,NON POOL,Fully Repaid,3.00,P009133,FORESTRY,2.700000e+06,0.00,2.700000e+06,1950-06-15T00:00:00,1951-09-15T00:00:00
24,2018-09-30T00:00:00,IBRD00210,EUROPE AND CENTRAL ASIA,Finland,NaN,NaN,NON POOL,Fully Repaid,3.00,P037365,FORESTRY,2.300000e+06,197868.90,2.102131e+06,1950-06-15T00:00:00,1951-09-15T00:00:00
25,2018-09-30T00:00:00,IBRD00220,LATIN AMERICA AND CARIBBEAN,El Salvador,MINISTRY OF PLANNING AND COORDINATION,El Salvador,NON POOL,Fully Repaid,4.25,P007137,RIO LEMPA HYDROELECT,1.254500e+07,0.00,1.154500e+07,1954-07-15T00:00:00,1975-01-15T00:00:00
26,2018-09-30T00:00:00,IBRD00230,SOUTH ASIA,India,CONTROLLER OF AID ACCOUNTS & AUDIT,India,NON POOL,Fully Repaid,4.00,P009587,BOKAROKONAR POWER,1.850000e+07,1779500.00,1.085150e+07,1955-04-15T00:00:00,1970-04-15T00:00:00
27,2018-09-30T00:00:00,IBRD00240,LATIN AMERICA AND CARIBBEAN,Mexico,Secretaria de Hacienda Y Credito Publico,Mexico,NON POOL,Fully Repaid,4.50,P007499,POWER III,2.600000e+07,0.00,2.197400e+07,1953-08-01T00:00:00,1975-02-01T00:00:00
28,2018-09-30T00:00:00,IBRD00250,LATIN AMERICA AND CARIBBEAN,Brazil,Ministerio da Fazenda,Brazil,NON POOL,Fully Repaid,4.25,P006215,POWER,1.500000e+07,0.00,1.500000e+07,1954-09-15T00:00:00,1975-03-15T00:00:00
29,2018-09-30T00:00:00,IBRD00260,MIDDLE EAST AND NORTH AFRICA,Iraq,PLANNING COMMISSION,Iraq,NON POOL,Fully Repaid,3.75,P005231,IRRIGATION,1.280000e+07,6506053.54,6.293946e+06,1956-04-01T00:00:00,1965-10-01T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8680,2018-09-30T00:00:00,IBRDM2405,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Fully Repaid,5.56,NaN,NaN,5.000000e+06,0.00,5.000000e+06,1999-12-15T00:00:00,2006-06-15T00:00:00
8681,2018-09-30T00:00:00,IBRDM2406,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Fully Repaid,5.58,NaN,NaN,4.000000e+06,0.00,4.000000e+06,2000-07-15T00:00:00,2009-01-15T00:00:00
8682,2018-09-30T00:00:00,IBRDM2407,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Fully Repaid,5.72,NaN,NaN,3.800000e+06,0.00,3.800000e+06,2000-12-15T00:00:00,2006-06-15T00:00:00
8683,2018-09-30T00:00:00,IBRDM2408,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Fully Repaid,5.52,NaN,NaN,3.000000e+06,0.00,3.000000e+06,1998-09-15T00:00:00,2001-03-15T00:00:00
8684,2018-09-30T00:00:00,IBRDM2409,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Fully Repaid,4.25,NaN,NaN,5.011415e+06,0.00,4.186142e+06,1999-03-15T00:00:00,2000-09-15T00:00:00
8685,2018-09-30T00:00:00,IBRDM2410,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Fully Repaid,5.68,NaN,NaN,5.000000e+06,4000000.00,1.000000e+06,2000-05-15T00:00:00,2004-11-15T00:00:00
8686,2018-09-30T00:00:00,IBRDM2801,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Disbursing&Repaying,3.96,NaN,NaN,5.000000e+07,0.00,4.998978e+07,2011-12-15T00:00:00,2017-06-15T00:00:00
8687,2018-09-30T00:00:00,IBRDM3010,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,IFC LOAN,Effective,NaN,NaN,NaN,1.961909e+08,0.00,0.000000e+00,NaN,NaN
8688,2018-09-30T00:00:00,IBRDR3010,OTHER,World,INTERNATIONAL FINANCE CORPORATION,World,\tIFC LOAN,Disbursing,2.25,NaN,NaN,0.000000e+00,0.00,1.961909e+08,2017-06-15T00:00:00,2017-12-15T00:00:00
8689,2018-09-30T00:00:00,IBRDS0010,AFRICA,Guinea,Ministry of Economy and Finance,Guinea,NON POOL,Fully Cancelled,6.00,P001018,BOKE ORE TRANSP ENGR,1.700000e+06,1700000.00,0.000000e+00,1968-03-15T00:00:00,1968-03-15T00:00:00
8690,2018-09-30T00:00:00,IBRDS0020,MIDDLE EAST AND NORTH AFRICA,Tunisia,Ministtry of Investments and Intl. Co-op,Tunisia,NON POOL,Fully Cancelled,6.50,P005598,ROAD ENGINEERING,8.500000e+05,850000.00,0.000000e+00,1971-12-15T00:00:00,1971-12-15T00:00:00
8691,2018-09-30T00:00:00,IBRDS0030,AFRICA,Senegal,DAKARMARINE,Senegal,NON POOL,Fully Repaid,7.25,P002288,SHIP REPAIR ENGINEER,6.000000e+05,107912.70,4.920873e+05,1977-09-15T00:00:00,1983-03-15T00:00:00
8692,2018-09-30T00:00:00,IBRDS0040,AFRICA,Cameroon,REGIE NATIONALE DES CHEMINS DE,Cameroon,NON POOL,Fully Repaid,8.50,P000333,RAILWAY ENGINEERIG L,2.300000e+06,1725000.00,5.750000e+05,1978-06-15T00:00:00,1985-12-15T00:00:00
8693,2018-09-30T00:00:00,IBRDS0050,MIDDLE EAST AND NORTH AFRICA,"Egypt, Arab Republic of",Ministry of International Cooperation,"Egypt, Arab Republic of",NON POOL,Fully Repaid,8.20,P005004,IRON ORE ENGINEERING,2.500000e+06,2075.48,2.497925e+06,1979-10-01T00:00:00,1987-04-01T00:00:00
8694,2018-09-30T00:00:00,IBRDS0060,LATIN AMERICA AND CARIBBEAN,Ecuador,Ministerio de Finanzas,Ecuador,NON POOL,Fully Repaid,8.00,P007056,PROJECT PREPARATION,1.100000e+07,0.00,1.100000e+07,1981-09-01T00:00:00,1987-09-01T00:00:00
8695,2018-09-30T00:00:00,IBRDS0070,MIDDLE EAST AND NORTH AFRICA,Morocco,MINISTERE DE L'ECONOMIE ET DES FINANCES,Morocco,NON POOL,Fully Repaid,8.00,P005383,CASABLANCA SEW-ENGR,1.500000e+06,51691.82,1.448308e+06,1981-03-15T00:00:00,1987-09-15T00:00:00
8696,2018-09-30T00:00:00,IBRDS0080,EAST ASIA AND PACIFIC,Philippines,Department of Finance,Philippines,NON POOL,Fully Repaid,7.45,P004461,MASS MEDIA PILOT PRO,7.577349e+05,0.00,7.577349e+05,1983-05-15T00:00:00,1988-05-15T00:00:00
8697,2018-09-30T00:00:00,IBRDS0085,EAST ASIA AND PACIFIC,Philippines,Department of Finance,Philippines,POOL LOAN,Fully Repaid,7.45,P004461,MASS MEDIA PILOT PRO,1.242265e+06,846008.53,3.962565e+05,1983-05-15T00:00:00,1988-05-15T00:00:00
8698,2018-09-30T00:00:00,IBRDS0090,EAST ASIA AND PACIFIC,Indonesia,Ministry of Finance,Indonesia,NON POOL,Fully Repaid,7.50,P003775,BUKIT ASAM ENGINEERI,1.000000e+07,30055.44,9.969945e+06,1981-11-15T00:00:00,1988-05-15T00:00:00
8699,2018-09-30T00:00:00,IBRDS0100,EAST ASIA AND PACIFIC,Thailand,NAT. GAS ORG. OF THAILAND,Thailand,NON POOL,Fully Repaid,7.50,P004702,GAS PIPELINE I,4.900000e+06,4595000.00,3.050000e+05,1981-01-01T00:00:00,1988-07-01T00:00:00
8700,2018-09-30T00:00:00,IBRDS0110,LATIN AMERICA AND CARIBBEAN,Peru,Ministerio De Economia Y Finanzas,Peru,NON POOL,Fully Repaid,7.35,P007963,WS & POWER ENGR.,8.800000e+06,618471.88,8.181528e+06,1981-08-01T00:00:00,1989-02-01T00:00:00
8701,2018-09-30T00:00:00,IBRDS0120,AFRICA,Kenya,CHIEF ACCT KENYA POWER CO LTD,Kenya,NON POOL,Fully Cancelled,7.35,P001267,ENGR. LOAN/OLKARIA G,9.000000e+06,9000000.00,0.000000e+00,1982-05-01T00:00:00,1988-11-01T00:00:00
8702,2018-09-30T00:00:00,IBRDS0130,EUROPE AND CENTRAL ASIA,Turkey,TURKIYE PETROLLERI AN.ORTAKL.,Turkey,NON POOL,Fully Cancelled,7.35,P008922,BATI RAMAN ENGINEERING,2.500000e+06,2500000.00,0.000000e+00,1981-06-15T00:00:00,1988-12-15T00:00:00
8703,2018-09-30T00:00:00,IBRDS0140,MIDDLE EAST AND NORTH AFRICA,"Egypt, Arab Republic of",Ministry of International Cooperation,"Egypt, Arab Republic of",NON POOL,Fully Repaid,7.90,P005016,NEW VALLEY PHOS.ENG.,1.100000e+07,3102452.46,7.897548e+06,1981-11-15T00:00:00,1989-05-15T00:00:00
8704,2018-09-30T00:00:00,IBRDS0150,EUROPE AND CENTRAL ASIA,Turkey,T.C. MERKEZ BANKASI,Turkey,NON POOL,Fully Repaid,7.95,P008931,ANKARA POLLUTION ENG,6.000000e+06,4451494.80,1.548505e+06,1982-04-01T00:00:00,1989-10-01T00:00:00
8705,2018-09-30T00:00:00,IBRDS0160,MIDDLE EAST AND NORTH AFRICA,Algeria,MINISTERE DES FINANCES,Algeria,NON POOL,Fully Cancelled,0.00,P004894,SN METAL TECHNICAL ASST,2.000000e+07,20000000.00,0.000000e+00,1984-05-15T00:00:00,1989-11-15T00:00:00
8706,2018-09-30T00:00:00,IBRDS0170,MIDDLE EAST AND NORTH AFRICA,Algeria,MINISTERE DES FINANCES,Algeria,NON POOL,Fully Repaid,7.95,P004895,WATER SUP & ENG.,5.000000e+06,1388308.92,3.611691e+06,1983-11-15T00:00:00,1989-11-15T00:00:00
8707,2018-09-30T00:00:00,IBRDS0180,MIDDLE EAST AND NORTH AFRICA,Morocco,ONAREP,Morocco,NON POOL,Fully Repaid,8.25,P005392,PETROLEUM EXPLORATION I,5.000000e+07,103917.29,4.989608e+07,1984-11-01T00:00:00,1997-05-01T00:00:00
8708,2018-09-30T00:00:00,IBRDS0190,LATIN AMERICA AND CARIBBEAN,Peru,EMPRESA SIDERURGICA DEL PERU,Peru,NON POOL,Fully Repaid,8.25,P007969,SIDERPERU TA,5.000000e+06,3643143.25,1.356857e+06,1984-12-15T00:00:00,1990-12-15T00:00:00
8709,2018-09-30T00:00:00,IBRDS0200,LATIN AMERICA AND CARIBBEAN,Argentina,Ministry of Treasury,Argentina,POOL LOAN,Fully Repaid,9.25,P005939,COAL EXPLORATION,1.000000e+07,0.00,1.000000e+07,1985-06-01T00:00:00,1990-12-01T00:00:00

In [4]:
# to replace all the 0s in numerical columns with NaNs

df.replace(0,np.nan,inplace=True)

In [5]:
df.head()

,End of Period,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Project ID,Project Name,Original Principal Amount,Cancelled Amount,Repaid to IBRD,First Repayment Date,Last Repayment Date
0,2018-09-30T00:00:00,IBRD00010,EUROPE AND CENTRAL ASIA,France,CREDIT NATIONAL,France,NON POOL,Fully Repaid,4.25,P037383,RECONSTRUCTION,2.500000e+08,NaN,3.800000e+04,1952-11-01T00:00:00,1977-05-01T00:00:00
1,2018-09-30T00:00:00,IBRD00020,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,4.25,P037452,RECONSTRUCTION,1.910442e+08,NaN,1.033722e+08,1952-04-01T00:00:00,1972-10-01T00:00:00
2,2018-09-30T00:00:00,IBRD00021,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NON POOL,Fully Repaid,4.25,P037452,RECONSTRUCTION,3.955788e+06,NaN,NaN,1953-04-01T00:00:00,1954-04-01T00:00:00
3,2018-09-30T00:00:00,IBRD00030,EUROPE AND CENTRAL ASIA,Denmark,NaN,NaN,NON POOL,Fully Repaid,4.25,P037362,RECONSTRUCTION,4.000000e+07,NaN,1.777100e+07,1953-02-01T00:00:00,1972-08-01T00:00:00
4,2018-09-30T00:00:00,IBRD00040,EUROPE AND CENTRAL ASIA,Luxembourg,NaN,NaN,NON POOL,Fully Repaid,4.25,P037451,RECONSTRUCTION,1.200000e+07,238016.98,1.619983e+06,1949-07-15T00:00:00,1972-07-15T00:00:00

In [6]:
#Interest Rate

int_mean=df['Interest Rate'].mean(axis=0)
interest_mean=round(int_mean,3)
print("Mean:",interest_mean)

int_std=df['Interest Rate'].std(axis=0)
interest_std= round(int_std,3)
print("Standard Deviation:",interest_std)

df['Interest Rate'].replace(np.nan,interest_mean,inplace=True)

print(df['Interest Rate'])

Mean: 6.028
Standard Deviation: 2.548
0       4.250
1       4.250
2       4.250
3       4.250
4       4.250
5       4.500
6       3.750
7       3.560
8       3.560
9       3.560
10      3.560
11      3.560
12      3.560
13      4.500
14      4.250
15      4.500
16      4.500
17      4.250
18      4.000
19      4.000
20      4.000
21      3.500
22      3.500
23      3.000
24      3.000
25      4.250
26      4.000
27      4.500
28      4.250
29      3.750
        ...
8680    5.560
8681    5.580
8682    5.720
8683    5.520
8684    4.250
8685    5.680
8686    3.960
8687    6.028
8688    2.250
8689    6.000
8690    6.500
8691    7.250
8692    8.500
8693    8.200
8694    8.000
8695    8.000
8696    7.450
8697    7.450
8698    7.500
8699    7.500
8700    7.350
8701    7.350
8702    7.350
8703    7.900
8704    7.950
8705    6.028
8706    7.950
8707    8.250
8708    8.250
8709    9.250
Name: Interest Rate, Length: 8710, dtype: float64

In [7]:
sample1=df['Interest Rate'].sample(n=1500)
print(sample1)

3545    7.070
1895    7.000
1888    7.000
518     6.000
4977    7.430
3379    5.590
8576    8.650
4963    7.430
8256    6.028
255     6.250
7958    6.028
2184    9.250
5467    7.430
3327    5.590
1269    8.500
6273    3.230
242     6.028
3600    4.850
6662    6.028
3598    6.028
7385    6.028
7243    6.028
2319    9.600
7407    6.028
8147    6.028
3300    5.160
5875    0.720
8217    6.028
4549    6.030
5560    7.430
        ...
6420    3.290
3981    6.030
2534    7.960
7318    6.028
6207    3.190
7784    6.028
1561    8.200
4293    1.920
1220    8.500
3989    6.030
1068    7.250
4248    6.028
297     5.750
4780    6.028
4475    8.360
555     6.250
2960    6.030
6630    6.028
3193    6.610
7028    6.028
4841    0.330
305     5.750
3254    5.910
4760    6.090
2915    6.900
4733    4.590
6610    6.028
4009    6.090
5854    0.130
1604    8.200
Name: Interest Rate, Length: 1500, dtype: float64

In [8]:
sample1_mean=sample1.mean(axis=0)
sample1_mean=round(sample1_mean,3)
print("Sample mean:",sample1_mean)

sample1_std=sample1.std(axis=0)
sample1_std= round(sample1_std,3)
print("Sample standard Deviation:",sample1_std)

Sample mean: 6.068
Sample standard Deviation: 2.177

In [12]:
from scipy.stats import norm
from math import sqrt


def two_sided_hypo(sample_mean, pop_mean, std_dev, sample_size, alpha):
    actual_z = abs(norm.ppf(alpha/2))
    hypo_z = (sample_mean - pop_mean) / (std_dev/sqrt(sample_size))
    print('actual z value :', actual_z)
    print('hypothesis z value :', hypo_z, '\n')
    if hypo_z >= actual_z or hypo_z <= -(actual_z):
        return True
    else:
        return False
    

alpha = 0.05
sample_mean = 6.068
pop_mean = 6.028
sample_size =  1500
std_dev = 2.177

print('H0 : Î¼ =', pop_mean)
print('H1 : Î¼ !=', pop_mean)
print('alpha value is :', alpha, '\n')

reject = two_sided_hypo(sample_mean, pop_mean, std_dev, sample_size, alpha)
if reject:
    print('Reject NULL hypothesis')
else:
    print('Failed to reject NULL hypothesis')
#variation with different parameters can be shown here

H0 : Î¼ = 6.028
H1 : Î¼ != 6.028
alpha value is : 0.05

actual z value : 1.9599639845400545
hypothesis z value : 0.7116184375208856

Failed to reject NULL hypothesis

In [13]:
#one sided hypothesis test(for smaller than in NULL hypothesis)
def one_sided_hypo(sample_mean, pop_mean, std_dev, sample_size, alpha):
    actual_z = abs(norm.ppf(alpha))
    hypo_z = (sample_mean - pop_mean) / (std_dev/sqrt(sample_size))
    print('actual z value :', actual_z)
    print('hypothesis z value :', hypo_z, '\n')
    if hypo_z >= actual_z:
        return True
    else:
        return False
    
alpha = 0.05
sample_mean = 6.068
pop_mean = 6.028
sample_size = 1500
std_dev = 2.177

print('H0 : Î¼ <=', pop_mean)
print('H1 : Î¼ >', pop_mean)
print('alpha value is :', alpha, '\n')

reject = one_sided_hypo(sample_mean, pop_mean, std_dev, sample_size, alpha)
if reject:
    print('Reject NULL hypothesis')
else:
    print('Failed to reject NULL hypothesis')
#variation with different parameters can be shown here

H0 : Î¼ <= 6.028
H1 : Î¼ > 6.028
alpha value is : 0.05

actual z value : 1.6448536269514729
hypothesis z value : 0.7116184375208856

Failed to reject NULL hypothesis